.go-home{
    padding: 20px 30px;
    border: 1px solid green;
    background-color:teal;
    text-decoration: none;
    text-transform: uppercase;
    color: crimson;
    font-weight: bold;
}
.go-home:hover{
    color: #ffffff;
    background-color: cyan;

}
